<!-- ============== NavBar-product ============== -->
<nav class="navbar navbar-expand-sm navbar navbar-light bg-light">
   <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item ms-2">
            <button (click)="onGetAllProducts()" class="btn btn-outline-info btn-sm">Tous</button>
         </li>
         <li class="nav-item ms-2">
            <button (click)="onGetSelectedProducts()" class="btn btn-outline-info btn-sm">Sélectionnés</button>
         </li>
         <li class="nav-item ms-2">
            <button (click)="onGetAvailableProducts()" class="btn btn-outline-info btn-sm">Disponibles</button>
         </li>
         <li class="nav-item ms-2">
            <button (click)="onAddProduct()" class="btn btn-outline-info btn-sm">Nouveau</button>
         </li>
      </ul>
      <form class="d-flex input-group-sm" #f="ngForm" (ngSubmit)="onSearchProducts(f.value)">
         <input ngModel name="keyword" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
      </form>
   </div>
</nav>

<!-- ============== Products-list ============== -->
<div class="container">
   <ng-container *ngIf="products | async as res" [ngSwitch]="res.dataState">
      <ng-container *ngSwitchCase="DataStateEnum.LOADING">
         Loading ...
      </ng-container>
      <ng-container *ngSwitchCase="DataStateEnum.ERROR">
         <div class="col-12 text-center">
            <div class="alert alert-danger">
               {{res.errorMessage}}
            </div>
         </div>
      </ng-container>
      <ng-container *ngSwitchDefault>

         <table class="table mt-5 table-dark table-striped">
            <thead>
               <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Quantité</th>
                  <th>Disponibilité</th>
                  <th>Sélection</th>
                  <th>Suppression</th>
                  <th>Modification</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let p of res.data">
                  <td> {{p.id}} </td>
                  <td> {{p.name}} </td>
                  <td> {{p.quantity}} </td>
                  <td>
                     <div [ngClass]="p.quantity !== 0 ? 'text-success' : 'text-danger'" class="btn btn-sm btn-dispo"
                        readonly>
                        <span *ngIf="p.quantity > 0">Disponible</span>
                        <span *ngIf="p.quantity === 0">Indisponible</span>
                     </div>
                  </td>
                  <td>
                     <button (click)="onSelect(p)" [ngClass]="p.selected ? 'btn-outline-success' : 'btn-outline-danger'"
                        class="btn btn-sm">
                        <span *ngIf="p.selected">Séléctionner</span>
                        <span *ngIf="!p.selected">Déselectionner</span>
                     </button>
                  </td>
                  <td><button (click)="onDelete(p)" class="btn btn-outline-danger btn-sm">Supprimer</button>
                  </td>
                  <td><button (click)="onUpdate(p)" class="btn btn-outline-success btn-sm">Modifier</button>
                  </td>
               </tr>
            </tbody>
         </table>
      </ng-container>
   </ng-container>
</div>